
{% extends "toDoList/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if tasks %}

{% for task in tasks %}
    <div class="row item"  id="list" >
        {% if task.complete %}
        <i class="col far fa-check-square" id="box" job="complete" value="{{ task.id  }}"></i>
        <div class="col-8 lineThrough" id="task">{{ task.task }}</div>
        <div class="col-2 lineThrough" id="date">{{ task.date|date:"n-d-y" }}</div>
        {% else %}
        <i class="col far fa-square" id="box" job="complete" value="{{ task.id  }}"></i>
        <div class="col-8" id="task">{{ task.task }}</div>
        <div class="col-2" id="date">{{ task.date|date:"n-d-y" }}</div>
        {% endif %}
        
        <i class="col fa fa-trash" id="trash"  job="delete"></i>

    </div>

{% endfor %}
{% endif %}

<form id="new-task">{% csrf_token %}
    <nav class="navbar fixed-bottom navbar-light bg-light">
  
        <div class="input-group input-group-lg">
          <input type="text" id="add-task" class="form-control col-10" aria-label="Task" placeholder="Task">
          <input type="date" id="add-date" class="form-control col-2" aria-label="Date" placeholder="Date">

          <div class="input-group-append btn-group dropup">
            <button type="button submit" class="btn btn-outline-secondary" id="add">Add Item</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu ">
              <a class="dropdown-item" href="" id="clear-input">Clear Input Area</a>
            </div>
          </div>
        </div>
      
    </nav>

</form>

{% endblock content %}


