
{% extends "toDoList/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if tasks %}

{% for task in tasks %}
    <div class="row item"  id="list" >
        {% if task.complete %}
        <i class="col far fa-check-square" id="box" job="complete" value="{{ task.id  }}"></i>
        <div class="col-8 lineThrough" id="task">{{ task.task }}</div>
        <div class="col-2 lineThrough" id="date">{{ task.date|date:"n-d-y" }}</div>
        {% else %}
        <i class="col far fa-square" id="box" job="complete" value="{{ task.id  }}"></i>
        <div class="col-8" id="task">{{ task.task }}</div>
        <div class="col-2" id="date">{{ task.date|date:"n-d-y" }}</div>
        {% endif %}
        
        <i class="col fa fa-trash" id="trash"  job="delete"></i>

    </div>


{% endfor %}
{% endif %}


{% endblock content %}


