
{% extends "toDoList/base.html" %}

{% block content %}
<div class="row item">
    {% if object.complete %}
    <i class="col far fa-check-square" id="box"></i>
    {% else %}
    <i class="col far fa-square " id="box"></i>
    {% endif %}
    <div class="col-8" id="task">{{ object.task }}</div>
    <div class="col-2" id="date">{{ object.date|date:"n-d-y" }}</div>
    <a class="col fa fa-trash" id="trash" href="task/{{ object.id }}/delete" style="color: black;"></a>


</div>




{% endblock content %}